.deleteForm {
  display: inline-block
}


body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

a, a:hover {
  color: #262626;
}

header.masthead {
  position: relative;
  background-color: #fff;
  background: url("https://images.pexels.com/photos/258149/pexels-photo-258149.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") center;
  /* background: url("https://image.freepik.com/free-vector/reading-list-concept-illustration_114360-1005.jpg") no-repeat right center; */
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
  color:#007bff;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("./img/bg-masthead.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.form-signin .checkbox{
  margin-bottom: 10px;
  margin-top: 10px;
}


#weather {
  text-align: center;
  height: 100%;
  width: 50%;
  top: 0;
  left: 50%;
  margin: auto;
}

.user-name {
  margin: 1rem 0rem;
}


.calendar-wrapper {
  margin-bottom: 1rem;
  min-width: 800px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: powderblue;
  overflow: hidden;
}

.calendar-picture {
  height: 10rem;
  padding: 20px;
  color: #fff;
  
}

.calendar-picture.sunny {
  background: url("/images/sunny.jpg") no-repeat center / cover;
}
.calendar-picture.cloudy {
  background: url("/images/cloudy.jpg") no-repeat center / cover;
}
.calendar-picture.rainy {
  background: url("/images/rainy.jpg") no-repeat center / cover;
}

.date-location{
  float: left;
}

.weather {
  float: right;
  text-align: end;
}

.calendar {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(7, minmax(25px, 1fr));
  grid-auto-rows: 100px;
  grid-gap: 2px;
  box-sizing: border-box;
  color: #262626;
  font-size: 1.2rem;

}

.calendar-day, .calendar-number {
  text-align: center;
  background-color: aliceblue;
}

.calendar-day:nth-child(1) {
  color: red;
}

.calendar-number > a:hover {
  display: inline-block;
  width: 3rem;
  background-color: skyblue;
  border-radius: 50%;
  font-size: 1em;
  text-decoration: none;
}

.current-day {
  box-shadow: 0px 0px 0px 8px rgba(138, 202, 231, 0.589); 
  position: relative;
}

.current-day > a {
  color: blue;
}


.events-header {
  margin-top: 1rem;
}

.search {
  border-radius: 5px;
  padding: 5px;
  background-color: aliceblue;
  opacity: 80%;
}


.search-btn {
  border: none;
  border-radius: 5px;
}

.list-group {
  margin-top: 1rem;
}

.list-group-item {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  background-color: aliceblue;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  font-size: 1.2rem;
}

.pull-right {
  color: blue;
}

.event-details {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.flex-row {
  min-height: 5rem;
}



.fa-facebook {
 color: #e6abb0;
 cursor: pointer;
 transition: color 0.5s ease-in-out;
}

.fa-facebook:hover {
  color: #4267B2;
}

.fa-twitter {
  color:#e6abb0;
  transition: color 0.5s ease-in-out;
}

.fa-twitter:hover {
  color:#1da1f2;
}

.fa-instagram {
  color: #e6abb0;
  transition: color 0.5s ease-in-out;
}

.fa-instagram:hover {
  color: 8a49a1;
}

.footer {
  background-color:#b0e0e6;
}


.testimonials.text-center {

  background-color: #d7eff2;
}

section {
  background-color: #b0e0e6;
}


