.deleteForm {
  display: inline-block
}


body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

header.masthead {
  position: relative;
  background-color: #fff;
  background: url("https://image.freepik.com/free-vector/reading-list-concept-illustration_114360-1005.jpg") no-repeat right center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("./img/bg-masthead.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.form-signin .checkbox{
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Start of Weather API css */

#weather {
  text-align: center;
  height: 100%;
  width: 50%;
  top: 0;
  left: 50%;
  margin: auto;
}

/* div.sunny {
    background-image: linear-gradient(to right top, #ff4e50, #ff713e, #ff932b, #ffb41d, #f9d423);
}
div.cloudy {
    background-image: linear-gradient(to right top, #63747c, #71858e, #7f96a0, #8da8b2, #9bbac5);
}
div.rainy {
    background-image: linear-gradient(to right top, #637c7b, #718e8c, #7ea09e, #8db2b0, #9bc5c3);
} */


.user-name {
  margin: 1rem 0rem;
}


.calendar-wrapper {
  margin-bottom: 2rem;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: aliceblue;
  overflow: hidden;
}

.calendar-picture {
  height: 10rem;
  padding: 20px;
  color: #fff;
  
}

.calendar-picture.sunny {
  background: url("/images/sunny.jpg") no-repeat center / cover;
}
.calendar-picture.cloudy {
  background: url("/images/cloudy.jpg") no-repeat center / cover;
}
.calendar-picture.rainy {
  background: url("/images/rainy.jpg") no-repeat center / cover;
}

.date-location{
  float: left;
}

.weather {
  float: right;
  text-align: end;
}

.calendar {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(7, minmax(25px, 1fr));
  grid-auto-rows: 3rem;
  grid-gap: 10px;
  box-sizing: border-box;
  color: #262626;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
}

.calendar-day, .calendar-number {
  text-align: center;
}

.calendar-day:nth-child(7) {
  color: red;
}

.calendar-number:nth-child(7) {
  color: red;
}

.current-day {
  color: blue;
  /* border-bottom: 1px solid rgba(73, 114, 133, .6); */


  /* box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);  */
  /* border-radius: 50%; */
  shape-outside: circle(50%);
  /* z-index: -1; */
  position: relative;

}

/* .div.calendar-number.current-day {

  shape-outside: circle(50%);

  border-radius: 50%;

}  */


button.search-btn {

  color: #212529;

}