<div class="container">
    <h1>
        <img src=<%=user.avatar %>>
        <%= user.name %>
    </h1>
    <h2 class="page-header"> Friends List </h2>


    <form action="/event/addFriends" method="GET">

        <% database.forEach(function (friend) { %>
            <%  if (friend.id === user.id){ return; } %>
                <input type="checkbox" name="friendID" value=<%=friend.id %>>
                <label> <strong><%= friend.name %> </strong></label><br>
                <% }) %>
                    <button class="search-btn" type="submit">Submit</button>
    </form>






</div>